config gateway 'gateway'                                                                           
        option port '1883'                                                                         
        option keepalive '5'                                                                       
        option qos '2'                                                                             
        option enabled '1'                                                                         
        option response 'm4m-example/response'                                                     
        option tls '0'                                                                             
        option request 'm4m-example/request'                                                       
        option host 'broker.hivemq.com'                                                            
        option client_id 'teltonikam4m'                                                            
                                                                                                   
config rtu_device '1'                                                                              
        option device '/dev/rs485'                                                                 
        option enabled '1'                                                                         
        option full_duplex_enabled '0'                                                             
        option flowcontrol 'none'                                                                  
        option databits '8'                                                                        
        option parity 'even'                                                                       
        option stopbits '1'                                                                        
        option baudrate '38400'